<!DOCTYPE html>
<html>

<head>
  <title>Ordbog</title>
  <script src="javascripts/ordbog.js"></script>
</head>

<body>
  <br>
  <!-- Hovedafsnit -->
  <section>
    <div class="container">

      <div class="card-columns">
        {{#each this}}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/defaultPicture.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{this.ord}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="mainContainer">
      <h2>Ord:</h2>
      <!-- Form hvor ord indsættes. Ord kan markeres og slettes med 'Slet'-submit knap. -->
      <form method="POST" action="/ordbog/vis" id="ord">
        <ul id="minListe">
          {{#each this}}
          <li onclick="document.getElementById('ord').submit();">
            <label for={{this._id}}>{{this.ord}}</label>
            <input type="radio" id={{this._id}} name="id" value={{this._id}} checked>
          </li>
          {{/each}}
        </ul>

      </form>
    </div>
  </section>

  <script>
    // Kører her efter siden er indlæst og fjerner de 3 sidste tomme ord html objekter.
    let ordArray = document.getElementsByClassName("card");
    let ordArrayLength = ordArray.length;

    ordArray[ordArrayLength - 3].remove();
    ordArray.length;
    ordArray[ordArrayLength - 3].remove();
    ordArray.length;
    ordArray[ordArrayLength - 3].remove();

  </script>

</body>

</html>