<!DOCTYPE html>
<html>

<head>
  <title>Ordbog</title>
  <script src="javascripts/ordbog.js"></script>
</head>

<body>
  <br>
  <!-- Hovedafsnit -->
  <section>
    <div class="container" id="mainOrdbog">
        
      <div class="card-columns">
        <div id="accordion">
          {{#each this}}
          <div class="card" style="width: 18rem, background-color: #e3f2fd;">
            <a href="#collapse{{_id}}" data-toggle="collapse">
              <img class="card-img-top" src="../{{image}}" alt="Card image cap">

              <div class="card-body">
                <h5 class="card-title" style="color: grey">{{this.ord}}</h5>
            </a>
            <div id="collapse{{_id}}" class="collapse" data-parent="#accordion">
              <p class="card-text">Kategori: {{kategori}} </p>
              <a id="buttonStyle" href="/ordbog/redigerord/{{_id}}" class="btn btn-primary">Rediger</a>
              <a id="buttonStyle" href="/ordbog/slet_ord/{{_id}}" class="btn btn-primary">Slet</a>
              {{!-- <audio id="audio">
                <source src="{{sound}}" type="audio/wav">
                Your browser does not support the audio element.
              </audio>
              <a id="buttonStyle" class="btn btn-primary" onclick="playAudio();">Afspil lyd</a> --}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    </div>
  </section>

  <script>
    // Kører her efter siden er indlæst og fjerner de 3 sidste tomme ord html objekter.
    let ordArray = document.getElementsByClassName("card");
    let ordArrayLength = ordArray.length;

    ordArray[ordArrayLength - 3].remove();
    ordArray.length;
    ordArray[ordArrayLength - 3].remove();
    ordArray.length;
    ordArray[ordArrayLength - 3].remove();

  </script>

</body>

</html>